@import url(normalize.css);

body{
	margin: 0;
	font-family: Tahoma;
}

main{
	width: 960px;
	margin:auto;
}

header{
	height: 200px;
	background-color: #B4AEAE;
}
header img{
	float: left;
	margin:30px 0 0 50px;
}

header h1{
	float: left;
	margin:45px 0 0 20px;
}
header h1 em{
	display: block;
	font-size: 16px;
}

nav{
	height: 45px;
	background-color: #C01E1E;
	text-align: center;
}

nav ul, footer ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

nav li, footer li{
	display: inline-block;
	position: relative;
}

nav li::after{
	content: '-';
	position: absolute;
	right: -5px; 
	top:12px;
}

nav li:last-child::after{
	content:none;
}

nav a{
	display: block;
	line-height: 45px;
	font-size: 13px;
	color:#000;
	text-decoration: none;
	padding:0 10px;
}

nav a:hover{
	color:#fff;
}


#contenido{
	background-color: #E4E0E0;
	padding:20px;
	/*width: 920px;*/
}

.about-us{
	width: 600px;
	float: left;
}

.noticias{
	width: 250px;
	padding:10px;
	background-color: #8B8484;
	float: right;
}

.noticias hr{
	border:none;
	border-bottom: solid 1px #E80B3F;
}

.cleaner{
	clear:both;
}

footer{
	padding:15px 0;
	background-color: #1B5BA4;
	text-align: center;
}

footer a{
	color:#fff;
	text-decoration: none;
	font-size: 12px;
}